body {
  font-family: "Source Code Pro", monospace;
}

/*MENU START*/

nav {
  display: flex;
 align-items: center;
 justify-content: space-between; 
 flex-direction: row;
 color: rgb(0, 0, 0);
 padding: 10px;
 font-weight: 700;

}
nav img {
  width: 15px;
}

/*MY NAME MENU TYPING STYLE*/
nav .my-name {
  white-space: nowrap;
  overflow: hidden;
  animation: typewriter 1.5s steps(40), blink 200ms steps(40);
  border-right: 10px solid white;
}
@keyframes typewriter {
  from {
    width: 0%;
  }
  to {
    width: 25%;
  }
}
@keyframes blink {
  from {
    border-color: white;
  }
  to {
    border-color: transparent;
  }
}

/*MY NAME MENU END*/

a {
  text-decoration: none;
  color: white;
}

h1 {
  font-size: 20px;
  width: auto;
  font-weight: 700;
}

h2 {
  font-size: 30px;
  width: auto;
  font-weight: 700;
}
/*MENU END*/

/*PRESENTATION START*/

.my-presentation {
  background-color: black;
  color: white;
  min-height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 5%;
  gap: 5rem;
}

.my-presentation__content{
  width: 500px;
}
.my-presentation__content > p {
  padding-top: 10px;
  padding-left: 5%;
  line-height: 15px;
  margin-bottom: 20px;
}

.my-presentation__content strong {
  font-weight: 800;
  color: yellow;d
}

.my-presentation__img {
  width: 275px;
  object-fit: cover;
  object-position: 20% 65px;
}

.my-presentation__img > img {
  border-radius: 50px 50px 50px 50px;
  width: 275px;

}

/*PORTFOLIO*/

.portfolio {
  min-height: auto;
  display: flex;
  justify-content: center;
  align-items: center;

}

.portfolio__content{
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}
/*TITLE PORTFOLIO_CONTENT*/
.portfolio__content > h2{
  text-transform: uppercase;
  color: gray;
  font-size: 14px;
  font-weight: 900;
  letter-spacing: 0.2rem;
}
.portfolio img {
  width: 80%;
  bottom: 0;
}
/*PORTFOLIO END*/
