body {
  font-family: "Source Code Pro", monospace;
}

/*MENU START*/

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  color: rgb(0, 0, 0);
  padding: 10px;
  font-weight: 700;
}
nav img {
  width: 15px;
}

/*MY NAME MENU TYPING STYLE*/
nav .my-name {
  white-space: nowrap;
  overflow: hidden;
  animation: typewriter 1.5s steps(40), blink 200ms steps(40);
  border-right: 10px solid white;
}
@keyframes typewriter {
  from {
    width: 0%;
  }
  to {
    width: 25%;
  }
}
@keyframes blink {
  from {
    border-color: white;
  }
  to {
    border-color: transparent;
  }
}

/*MY NAME MENU END*/

a {
  text-decoration: none;
  color: white;
}

h1 {
  font-size: 20px;
  width: auto;
  font-weight: 700;
}

h2 {
  font-size: 30px;
  width: auto;
  font-weight: 700;
}
/*MENU END*/

/*INDEX START*/
.index {
  min-height: 95vh;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 3rem;
}

.index__header p {
  font-size: 4rem;
}

@media (min-width: 800px) {
  .index__header p {
    font-size: 7rem;
  }
}

@media (min-width: 1024px) {
  .index__header p {
    font-size: 13rem;
  }
}

.index__header > .second-line {
  font-weight: 800;
  border-bottom: 3px red dashed;
}

.index-content strong {
  font-weight: 800;
}

.index-content > p {
  margin-bottom: 1rem;
}

.index__go-down {
  text-align: center;
  margin-bottom: 0;
}
.index__go-down > img {
  width: 30px;
}
/*INDEX END*/

/*PRESENTATION START*/

.my-presentation {
  background-color: black;
  color: white;
  min-height: 85vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 5%;
  gap: 6rem;
}

.my-presentation__content {
  text-align: justify;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}
.my-presentation__content > p {
  padding-top: 10px;
  padding-left: 5%;
  padding-right: 5%;
  line-height: 15px;
  margin-bottom: 20px;
}

.my-presentation__content strong {
  font-weight: 800;
  color: #5e17eb;
}

.my-presentation__img {
  width: 100%;
  text-align: center;
}

.my-presentation__img > img {
  border-radius: 7px;
  width: 250px;
}

.my-presentation .my-presentation__go-down {
  width: 30px;
}

.my-presentation h4 {
  font-weight: 800;
  color: aqua;
  font-size: 1rem;
}

/*PRESENTATION END*/

/*PORTFOLIO*/
.portfolio {
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: justify;
}

.portfolio__content {
  display: flex;
  gap: 1rem;
  flex-direction: column;
}

.portfolio img {
  width: 80%;
  bottom: 0;
}

.portfolio a {
  color: blue;
  font-weight: 800;
  text-decoration: underline;
}
/*PORTFOLIO END*/

/*SKILLS START*/
.skill {
  min-height: auto;
}
.skill__content {
  color: white;
  background-color: black;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.skill__content h3 {
  font-weight: 800;
  font-size: 1.5rem;
  color: #5e17eb;
}

.skill__content h4 {
  font-weight: 600;
  font-size: 1rem;
  color: #73b0ff;
}
.soft-skill {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  flex-wrap: wrap;
  min-height: auto;
}

.soft-skill-box img {
  height: 50px;
  width: 50px;
}

.soft-skill-box .box1 {
  color: yellow;
}

.soft-skill-box .box2 {
  color: orange;
}

.soft-skill-box .box3 {
  color: gray;
}

.soft-skill-box .box4 {
  color: red;
}

/*SKILLS END*/

footer {
  height: 60px;
  display: flex;
  padding: 10px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  background-color: black;
  color: white;
  border-top: 1px solid white;
  padding-top: 20px;
}

.social-media {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}
.social-media__icon i {
  font-size: 30px;
}
